<form name="form.userPassword" class="form-horizontal" novalidate="novalidate">

    <div class="form-group" data-show-errors>
        <label class="col-lg-3 control-label">Current password</label>
        <div class="col-lg-5">
            <input type="password" class="form-control" placeholder="enter current password" required="required" autocomplete="off" name="passwordCurrent"
                data-ng-model="passwordCurrent"
            />

            <span class="help-block text-nowrap">To change password you must provide current password</span>
        </div>
    </div>

    <div class="form-group" data-show-errors>
        <label class="col-lg-3 control-label">New password</label>
        <div class="col-lg-5" style="margin-bottom: 10px;">
            <input id="passwordNew" type="password" value="test" class="form-control" placeholder="enter new password" required="required" autocomplete="off" name="passwordNew"
                data-ng-model="passwordNew"
                data-ng-minlength="10"
            />
        </div>

        <div class="col-lg-5 col-lg-offset-3">
            <input type="password" class="form-control" placeholder="re-type new password" required="required" autocomplete="off" name="passwordCheck"
                data-ng-model="passwordCheck"
                data-ng-minlength="10"
                data-validation-password-equals="passwordNew"
            />

            <span class="help-block text-danger"
                data-ng-show="form.userPassword.passwordCheck.$error.validationPasswordEquals"
            >
                Given passwords don't match. Please check given passwords.
            </span>
            <span class="help-block text-danger"
                data-ng-show="form.userPassword.passwordNew.$error.minlength || form.userPassword.passwordCheck.$error.minlength"
            >
                Too short password, minimum length is 10 characters.
            </span>
        </div>
    </div>

    <div class="form-group password-strength">
        <label class="col-lg-3 control-label">Password strength</label>
        <div class="col-lg-5">
            <password-strength-meter
                data-password="password"
                data-input="password"
                data-password-strength="passwordStrength"
            ></password-strength-meter>
        </div>
    </div>

</form>