<form id="formProjectNew" class="form-horizontal">
    <div class="form-group required">
        <label class="col-lg-3 control-label" for="formProjectNewTitle">Title</label>
        <div class="col-lg-9">
            <input id="formProjectNewTitle" name="title" type="text" class="form-control" placeholder="enter project name" required="required" />
        </div>
    </div>

    <div class="form-group required">
        <label class="col-lg-3 control-label" for="formProjectNewManagerId">Project manager</label>
        <div class="col-lg-9">
            <select id="formProjectNewManagerId" name="managerId" class="form-control required show-tick show-menu-arrow"
                data-select="true"
                data-live-search="true"
            >
                <% _.each(users, function(user) { %>
                <option value="<%= user.id %>"><%= user.fullName() %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="form-group required">
        <label class="col-lg-3 control-label" for="formProjectNewDateStart">Duration</label>
        <label class="col-lg-3 control-label" for="formProjectNewDateEnd" style="display: none;"></label>
        <div class="col-lg-9">
            <div class="input-group date dateStart">
                <input id="formProjectNewDateStart" name="dateStart" type="text" class="form-control dateInput" size="16" required="required"
                    data-validate-type="daterange"
                    data-role="start"
                    data-pair="formProjectNewDateEnd"
                    data-focus="false"
                    data-type="project"
                />
                <span class="input-group-addon"><i class="icon-calendar"></i></span>
            </div>
            <span class="separator">&mdash;</span>
            <div class="input-group date dateEnd">
                <input id="formProjectNewDateEnd" name="dateEnd" type="text" class="form-control dateInput" size="16" required="required"
                    data-validate-type="daterange"
                    data-role="end"
                    data-pair="formProjectNewDateStart"
                    data-focus="false"
                    data-type="project"
                />
                <span class="input-group-addon"><i class="icon-calendar"></i></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label" for="formProjectNewDescription">Description</label>
        <div class="col-lg-9">
            <textarea id="formProjectNewDescription" name="description" class="form-control" data-wysiwyg="true" placeholder="enter project description"></textarea>
        </div>
    </div>
</form>