
    <li>
        <a href="#comments"
            data-toggle="tab"
            data-href="/Comment?objectName=<%= objectName %>&objectId=<%= objectId %>"
            data-callback="initCommonTabComments"
        >Comments</a>
    </li>
    <li>
        <a href="#history"
            data-toggle="tab"
            data-href="/History?objectName=<%= objectName %>&objectId=<%= objectId %>"
            data-callback="initCommonTabHistory"
        >History</a>
    </li>
