########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
results

node_modules

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea

########################
# local config
########################
config/local.js

########################
# vagrant
########################
.vagrant

########################
# Taskboard specified
########################
.sass-cache
assets/bower_components/*
assets/linker/bower_components/*
assets/styles/*.css
