<div class="tooltipDivContainer">
    <h1>Statistics of phase '<%= phase.title %>'</h1>
    <div>
        <table>
            <tr>
                <th class="text-right">Percentage:</th>
                <td class="text-nowrap"><%= numeral(phase.durationPercentage).format("0.00") %>%</td>
            </tr>
            <tr>
                <th class="text-right">Duration:</th>
                <td class="text-nowrap"><%= moment().from(moment().add(phase.duration, "seconds"), true) %></td>
            </tr>
            <tr>
                <th class="text-right"></th>
                <td class="text-nowrap"><%= numeral(phase.duration).format() %> seconds</td>
            </tr>
        </table>
    </div>
</div>