<% layout('layout_login') -%>

<div class="row">
    <div class="well col-lg-6 col-lg-offset-3">

        <h1>Page Not Found <small class="text-danger pull-right">Error 404</small></h1>

        <p>
            The page you requested could not be found, either contact your webmaster or try again.
            Use your browsers <strong>Back</strong> button to navigate to the page you have previously
            come from.
        </p>

        <p>
            Or you could just press button below
        </p>

        <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-home"></i> Back to Taskboard</a>
    </div>
</div>