<!DOCTYPE html>
<html>
<head>
    <title>
        <%- title %>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet' type='text/css'>

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/vendor/jQuery-UI/jquery-ui.css">
    <link rel="stylesheet" href="/linker/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/linker/vendor/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/linker/vendor/bootstrap-datepicker/datepicker.css">
    <link rel="stylesheet" href="/linker/vendor/qTip/jquery.qtip.css">
    <link rel="stylesheet" href="/linker/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/linker/styles/board.css">
    <link rel="stylesheet" href="/linker/styles/form.css">
    <link rel="stylesheet" href="/linker/styles/layout.css">
    <link rel="stylesheet" href="/linker/styles/modal.css">
    <link rel="stylesheet" href="/linker/styles/responsive.css">
    <link rel="stylesheet" href="/linker/styles/screen.css">
    <!--STYLES END-->

    <script type="text/javascript">
        var selectedProjectId = <%= projectId %>;
        var selectedSprintId = <%= sprintId %>;
    </script>

</head>

<body>

<div id="header">
    <div class="navbar navbar-fixed-top">

        <a class="navbar-brand" href="/">Taskboard</a>

        <ul id="navigation" class="nav navbar-nav" style="display: none;">
            <li>
                <div class="input-group">
                    <select id="selectProject" class="form-control"
                            data-bind="
                                    options: sortedProjects,
                                    optionsText: 'title',
                                    optionsValue: 'id',
                                    optionsCaption: '--select project--',
                                    value: selectedProjectId(),
                                    changeProject: 'id'
                                "
                    ></select>
                    <span class="input-group-addon dropdown">
                        <div data-bind="visible: !project()">
                            <a href="javascript: void(0);" class="tooltipTitle" title="Add new project"
                               data-placement="bottom"
                               data-bind="click: $root.addNewProject"
                            >
                                <i class="icon-plus"></i>
                            </a>
                        </div>
                        <div data-bind="visible: project()">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown"
                               data-hover="dropdown"
                               data-delay="100"
                                    >
                                <i class="icon-wrench"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-header text-info">Basic functions</li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.addNewProject"
                                            >
                                        <i class="icon-plus"></i>
                                        Add new project
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.editProject"
                                            >
                                        <i class="icon-wrench"></i>
                                        Edit project
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.projectBacklog"
                                            >
                                        <i class="icon-list-ol"></i>
                                        Project backlog
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="nav-header text-info">Settings</li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.phasesEdit"
                                            >
                                        <i class="icon-reorder icon-rotate-90"></i>
                                        Edit phases
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.milestoneList"
                                            >
                                        <i class="icon-gear"></i>
                                        Milestones
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.projectPlanning"
                                            >
                                        <i class="icon-cogs"></i>
                                        Planning view
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="nav-header text-danger">Danger zone</li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.deleteProject"
                                            >
                                        <i class="icon-trash"></i>
                                        Delete project
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </span>
                </div>

                <div class="input-group" data-bind="visible: project()">
                    <select id="selectSprint" class="form-control"
                        data-bind="
                            options: sortedSprints,
                            optionsText: 'formattedTitle',
                            optionsValue: 'id',
                            optionsCaption: '-- select sprint --',
                            value: selectedSprintId(),
                            changeSprint: 'id'
                        "
                        data-text-choose-sprint="-- select sprint --"
                        data-text-no-data="-- No sprint data --"
                    ></select>
                    <span class="input-group-addon dropdown">
                        <div data-bind="visible: !sprint()">
                            <a href="javascript: void(0);" class="tooltipTitle" title="Add new sprint"
                               data-placement="bottom"
                               data-bind="click: $root.sprintAdd"
                                    >
                                <i class="icon-plus"></i>
                            </a>
                        </div>
                        <div data-bind="visible: sprint()">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown"
                               data-hover="dropdown"
                               data-delay="100"
                                    >
                                <i class="icon-wrench"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-header text-info">Basic functions</li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-placement="bottom"
                                       data-bind="click: $root.sprintAdd"
                                            >
                                        <i class="icon-plus"></i>
                                        Add new sprint
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.sprintEdit"
                                            >
                                        <i class="icon-wrench"></i>
                                        Edit sprint
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.sprintBacklog"
                                            >
                                        <i class="icon-list-ol"></i>
                                        Sprint backlog
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li class="nav-header text-danger">Danger zone</li>
                                <li>
                                    <a href="javascript: void(0);"
                                       data-bind="click: $root.sprintDelete"
                                            >
                                        <i class="icon-trash"></i>
                                        Delete sprint
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </span>
                </div>
            </li>
        </ul>

        <ul id="navigation-static" class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a href="javascript: void(0);" class="dropdown-toggle"
                    data-toggle="dropdown"
                    data-hover="dropdown"
                >
                    Settings
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript: void(0);"
                            data-bind="click: $root.usersOpen"
                        >
                            <i class="icon-user"></i>
                            Users
                        </a>
                    </li>
                </ul>
            </li>
            <li id="functionHelp">
                <a href="javascript: void(0);">
                    <i class="icon-question-sign tooltipTitle" title="Show help"
                        data-qtipopts="{ position: { at: 'center center', my: 'center center' } }"
                    ></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="container">
    <div class="container">
        <%- body %>
    </div>
</div>

<div id="footer">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <span class="pull-right text-small">
                    versio 0.2
                </span>
                <ul>
                    <li>
                        <a href="https://github.com/tarlepp/Taskboard" target="_blank">
                            <i class="icon-github"></i>GitHub
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/tarlepp/Taskboard/issues" target="_blank">
                            <i class="icon-bug"></i>Issues
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/tarlepp/" target="_blank">
                            <i class="icon-user"></i>Tarmo Leppänen
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->

<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/vendor/date.format.js"></script>
<script src="/linker/vendor/json5.js"></script>
<script src="/linker/vendor/underscore.js"></script>
<script src="/linker/vendor/jquery-2.0.3.min.js"></script>
<script src="/linker/vendor/trunk8.js"></script>
<script src="/linker/vendor/jquery.autosize.js"></script>
<script src="/linker/vendor/jQuery-noty/jquery.noty.js"></script>
<script src="/linker/vendor/jQuery-noty/jquery.noty-default.js"></script>
<script src="/linker/vendor/jQuery-noty/jquery.noty-top.js"></script>
<script src="/linker/vendor/jQuery-UI/jquery-ui.min.js"></script>
<script src="/linker/vendor/qTip/jquery.qtip.js"></script>
<script src="/linker/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/linker/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/linker/vendor/twitter-bootstrap-hover-dropdown.js"></script>
<script src="/linker/vendor/bootbox.js"></script>
<script src="/linker/vendor/Knockout/knockout-2.2.1.js"></script>
<script src="/linker/vendor/knockout-bootstrap.js"></script>
<script src="/linker/vendor/knockout-sortable.js"></script>
<script src="/linker/js/board.js"></script>
<script src="/linker/js/common.js"></script>
<script src="/linker/js/events.js"></script>
<script src="/linker/js/forms.js"></script>
<script src="/linker/js/models.js"></script>
<script src="/linker/js/prototype.js"></script>
<script src="/linker/js/validation.js"></script>
<script src="/linker/js/viewmodel.js"></script>
<!--SCRIPTS END-->

</body>
</html>