<!DOCTYPE html>
<html data-ng-app="TaskBoardApplication">
<head>
        <title><%- title %></title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet" type="text/css">

         <!--STYLES-->
         <link rel="stylesheet" href="/bower_components/qtip2/jquery.qtip.min.css" />
         <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
         <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
         <link rel="stylesheet" href="/bower_components/bootstrap-datepicker/css/datepicker3.css" />
         <link rel="stylesheet" href="/bower_components/bootstrap-select/bootstrap-select.min.css" />
         <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
         <link rel="stylesheet" href="/styles/auth.css" />
         <link rel="stylesheet" href="/styles/components.css" />
         <link rel="stylesheet" href="/styles/forms.css" />
         <link rel="stylesheet" href="/styles/layout.css" />
         <link rel="stylesheet" href="/styles/mixins.css" />
         <link rel="stylesheet" href="/styles/modal.css" />
         <!--STYLES END-->
    </head>

    <body data-ng-cloak>
        <div id="header" class="header">
            <%- partial("partials/layout/header") %>
        </div>

        <div id="container">
            <div class="container">
                <%- body %>
            </div>
        </div>

        <div id="footer" class="footer">
            <%- partial("partials/layout/footer") %>
        </div>

        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->

        <!--SCRIPTS-->
        <script src="/js/socket.io.js"></script>
        <script src="/js/sails.io.js"></script>
        <script src="/bower_components/async/lib/async.js"></script>
        <script src="/bower_components/json5/lib/json5.js"></script>
        <script src="/bower_components/lodash/dist/lodash.min.js"></script>
        <script src="/bower_components/moment/min/moment-with-langs.min.js"></script>
        <script src="/bower_components/moment-timezone/min/moment-timezone.min.js"></script>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/noty/js/noty/packaged/jquery.noty.packaged.js"></script>
        <script src="/bower_components/qtip2/jquery.qtip.min.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/bower_components/angular-cookie/angular-cookie.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/angular-route/angular-route.min.js"></script>
        <script src="/bower_components/angular-route-segment/build/angular-route-segment.js"></script>
        <script src="/bower_components/angular-sails/dist/angular-sails.min.js"></script>
        <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/angularjs-gravatar/dist/angularjs-gravatardirective.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.fi.js"></script>
        <script src="/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
        <script src="/bower_components/bootstrap-select/bootstrap-select.min.js"></script>
        <script src="/vendor/angularSails/dist/ngsails.js"></script>
        <script src="/vendor/angularSails/dist/ngsails.resource.js"></script>
        <script src="/js/application.js"></script>
        <script src="/js/taskboard.js"></script>
        <script src="/js/controllers/AuthController.js"></script>
        <script src="/js/controllers/BoardController.js"></script>
        <script src="/js/controllers/HeaderController.js"></script>
        <script src="/js/controllers/UserController.js"></script>
        <script src="/js/directives/DropdownDirective.js"></script>
        <script src="/js/directives/SelectDirective.js"></script>
        <script src="/js/directives/TemplateDirective.js"></script>
        <script src="/js/directives/qTipDirective.js"></script>
        <script src="/js/services/AuthService.js"></script>
        <script src="/js/services/SharedDataService.js"></script>
        <script src="/js/services/TaskboardSocketInterceptor.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>