<form id="formSprintEdit" class="form-horizontal">
    <fieldset>
        <div class="control-group required">
            <label class="control-label" for="formSprintEditTitle">Title</label>
            <div class="controls">
                <input id="formSprintEditTitle" name="title" type="text" value="<%= sprint.title %>" placeholder="enter sprint name" class="span3" required="required" />
            </div>
        </div>
        <div class="control-group required">
            <label class="control-label" for="formSprintEditDateStart">Duration</label>
            <label class="control-label" for="formSprintEditDateEnd" style="display: none;"></label>
            <div class="controls">
                <div class="input-append date dateStart">
                    <input id="formSprintEditDateStart" name="dateStart" type="text" value="<%= sprint.dateStartFormatted() %>" class="dateInput" size="16" required="required" readonly="readonly"
                        data-validate-type="daterange"
                        data-role="start"
                        data-pair="formSprintEditDateEnd"
                        data-focus="false"
                        data-type="sprint"
                        data-edit="true"
                    />
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                <span class="separator">&mdash;</span>
                <div class="input-append date dateEnd">
                    <input id="formSprintEditDateEnd" name="dateEnd" type="text" value="<%= sprint.dateEndFormatted() %>" class="dateInput" size="16" required="required" readonly="readonly"
                        data-validate-type="daterange"
                        data-role="end"
                        data-pair="formSprintEditDateStart"
                        data-focus="false"
                        data-type="sprint"
                        data-edit="true"
                    />
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="formSprintEditDescription">Description</label>
            <div class="controls">
                <textarea id="formSprintEditDescription" name="description" class="span3" placeholder="enter sprint description"><%= sprint.description %></textarea>
            </div>
        </div>
    </fieldset>
</form>