.chartLabel,
.chartToolTipTasks {
    font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chartLabel {
    font-size: 14px;
    position: relative;
    top: 18px;
    left: -2px;
    transform-style: preserve-3d;
    -webkit-backface-vivbility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
}

.chartToolTipTasks h1 {
    font-size: 18px;
}

.chartToolTipTasks hr {
    margin: 3px 0;
}

.chartToolTipTasks h1,
.chartToolTipTasks table {
    margin: 0;
    padding: 0;
}

.chartToolTipTasks table th,
.chartToolTipTasks table td {
    font-size: 15px;
    padding: 0 4px;
}
