ul.comment-list {
    padding-left: 0;
}

ul.comment-list,
ul.comment-list ul {
    list-style: none;
}

ul.comment-list article #formComment {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

ul.comment-list .gravatar {
    margin-right: 10px;
    text-align: center;
    cursor: default;
}

ul.comment-list .gravatar img,
ul.comment-list .gravatar div {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px rgba(51, 51, 51, .3);
}

ul.comment-list .gravatar div i {
    font-size: 40px;
    line-height: 50px;
    margin-left: 2px;
}

ul.comment-list h1 {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

ul.comment-list .panel {
    padding: 7px 10px;
    margin: 0 0 10px 60px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
}