textarea {
    resize: none;
}

label {
    cursor: default;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
}

label.col-lg-3 {
    padding-right: 5px;
}

select.form-control {
    padding-left: 8px;
    padding-right: 8px;
}

.form-control {
    font-size: 16px;
}

.btn {
    font-size: 16px;
    line-height: 20px;
}

.btn-default.btn-primary,
.btn-default.btn-warning,
.btn-default.btn-danger,
.btn-default.btn-info {
    text-shadow: none;
}

.input-group.date,
.input-group.date span {
    display: inline-block;
}

.input-group.date span.input-group-addon {
    position: relative;
    left: -3px;
    padding: 9px 20px 9px 8px;
}

.input-group.date span.input-group-addon i {
    color: #428bca;
    cursor: pointer;
}

.form-group .input-group.col-lg-4 {
    padding: 0;
}

.form-group span.separator {
    left: -8px;
}

.form-control.vfCase {
    width: 65px;
    text-align: center;
}

.input-group .form-control.vfCase:first-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.form-group .col-lg-9,
.form-group .col-lg-3,
.form-group .col-lg-2 {
    padding-left: 5px;
}

.form-group .col-lg-9 .col-lg-2,
.form-group .col-lg-9 .col-lg-3 {
    padding-left: 0;
}

.form-horizontal .form-group  {
    margin-bottom: 10px;
}

.form-horizontal .dateInput {
    width: 90px;
    text-align: center;
}

.has-error .form-control {
    padding-right: 12px;
}

.datepicker .cw {
    font-size: 14px;
    font-weight: bold;
}

form .required label:after {
    content: '*';
    position: relative;
    right: -4px;
    top: -4px;
    font-size: 16px;
    font-weight: bold;
    color: #d9534f;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
}

.sliderValue {
    text-align: center;
    width: 50px;
}

.estimateSlider {
    position: relative;
    top: 12px;
}

.estimateSlider.col-lg-10 {
    width: 81.0%;
}

.slider-phase-task {
    width: 100px;
}

#projectPhases i.icon-resize-vertical {
    margin: 0 0 0 10px;
    cursor: move;
}

.modal-body .btn-toolbar {
    margin-bottom: 5px;
}

.modal-body .btn-toolbar .btn-editor {
    font-size: 14px;
    line-height: 14px;
    padding: 5px 5px 5px 7px;
}

.modal-body .btn-toolbar .dropdown-menu {
    width: 250px;
    padding: 5px;
}

.editor {
    max-height: 250px;
    height: 250px;
    background-color: white;
    border-collapse: separate;
    border: 1px solid rgb(204, 204, 204);
    padding: 4px;
    box-sizing: content-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: auto;
    outline: none;
}

.modal-body .editor {
    height: 200px;
    max-height: 200px;
}

div[data-role="editor-toolbar"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
