#container {
    margin-top: 60px;
    margin-bottom: 20px;
}

#footer .container {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header .navbar-inner {
    min-height: 40px;
}

#footer .navbar {
    min-height: 30px;
}

#footer .navbar.navbar-fixed-bottom {
    bottom: -1px;
}

#footer .navbar-inner {
    line-height: 30px;
    font-size: 12px;
}

#footer ul {
    margin: 0;
}

#footer ul li {
    display: inline-block;
    margin: 0 3px;
}

#footer ul li i {
    margin-right: 3px;
}

#header .navbar {
    border-bottom: 1px solid #dddddd;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#footer .navbar {
    border-top: 1px solid #dddddd;
}

#header .navbar .navbar-brand {
    padding: 13px 10px 10px 20px;
    color: #333333;
    font-weight: normal;
    font-size: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#navigation {
    position: relative;
    top: 8px;
}

.navbar {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f8f8f8));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f8f8f8, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

.navbar .nav > li {
    z-index: 10000;
}

#navigation .bootstrap-select {
    width: 230px;
    margin-bottom: 0;
}

#navigation .bootstrap-select .btn,
#navigation .bootstrap-select .btn:focus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#navigation .bootstrap-select.btn-group.open .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#navigation .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
    right: 10px;
}

#navigation select {
    width: auto;
    font-size: 16px;
}

#navigation .input-group,
#navigation .input-group span {
    display: inline-block;
}

#navigation .input-group {
    margin-right: -15px;
}

#navigation .input-group span {
    position: relative;
    left: -3px;
}

#navigation .input-group-addon {
    padding: 9px 20px 9px 8px;
    height: 34px;
}

#navigation .input-group-addon a {
    text-decoration: none;
}

#navigation-static li.navbar-icon a {
    padding: 15px 7px;
    font-size: 20px;
}

#navigation-static li.navbar-user img {
    position: relative;
    height: 30px;
    top: -12px;
    margin: 0 0 -20px 0;
    padding: 0;
    border-radius: 3px;
}

#navigation-static li.navbar-user span {
    position: relative;
    top: -1px;
    font-size: 16px;
    line-height: 16px;
    margin-left: 3px;
}

ul.dropdown-menu li {
    text-align: left;
}

ul.actionMenu-actions li.actionMenu-header,
ul.dropdown-menu li.dropdown-header,
ul.dropdown-menu li.nav-header {
    padding: 3px 15px;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
}

ul.dropdown-menu > li > a i {
    position: relative;
    left: -5px;
    width: 15px;
    text-align: center;
    display: inline-block;
}

ul.dropdown-menu .divider {
    margin: 5px 0;
}

.dropdown-menu > li > a.text-muted {
    color: #999999;
}

.dropdown-menu > li > a.text-success {
    color: #468847;
}

.dropdown-menu > li > a.text-danger {
    color: #b94a48;
}

#navigation .dropdown-menu:before,
.dropdown-menu.with-tick:before {
    position: absolute;
    top: -7px;
    left: 7px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

#navigation .dropdown-menu:after,
.dropdown-menu.with-tick:after {
    position: absolute;
    top: -6px;
    left: 8px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

#navigation-static .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 12px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

#navigation-static .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 13px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

#navigation-static.navbar-nav > li > .dropdown-menu {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.container {
    min-width: 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

ul, ol {
    padding-left: 25px;
}

.history {
    margin-bottom: 20px;
}

.history h4 {
    border-bottom: 1px solid #dddddd;
}

.history ul {
    margin-left: 5px;
}

.popover.actionMenu {
    z-index: 3000;
    padding: 0;;
}

.popover.actionMenu .popover-content {
    padding: 0;
    position: relative
}

.popover.actionMenu .actionMenu-actions {
    list-style-type: none;
    padding: 6px 0;
    margin: 0;
}

.popover.actionMenu .actionMenu-actions .divider,
.popover.actionMenu .actionMenu-actions .divider:hover {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.popover.actionMenu ul.actionMenu-actions li.actionMenu-header {
    padding: 3px 15px;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
}

.popover.actionMenu ul.actionMenu-actions li.actionMenu-header:hover {
    background-color: transparent;
}

.popover.actionMenu .actionMenu-actions > li {
    padding-left: 20px;
}

.popover.actionMenu .actionMenu-actions > li > a {
    display: block;
    padding: 3px 15px 3px 0;
    clear: both;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.popover.actionMenu .actionMenu-actions > li > a.text-muted {
    color: #999999;
}

.popover.actionMenu .actionMenu-actions > li > a.text-success {
    color: #468847;
}

.popover.actionMenu .actionMenu-actions > li > a.text-danger {
    color: #b94a48;
}

.popover.actionMenu .actionMenu-actions > li > a i {
    position: relative;
    left: -10px;
    width: 15px;
    margin-right: -5px;
    text-align: center;
    display: inline-block;
}

.popover.actionMenu .actionMenu-actions > li:hover,
.popover.actionMenu .actionMenu-actions > li:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
}

.popover.actionMenu .actionMenu-actions > li:hover a,
.popover.actionMenu .actionMenu-actions > li:focus a,
.popover.actionMenu .actionMenu-actions > li a:hover,
.popover.actionMenu .actionMenu-actions > li a:focus {
    color: #ffffff;
    text-decoration: none;
}

.popover.actionMenu .actionMenu-actions > .active a,
.popover.actionMenu .actionMenu-actions > .active a:hover,
.popover.actionMenu .actionMenu-actions > .active a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

.popover.actionMenu .actionMenu-actions > .disabled a,
.popover.actionMenu .actionMenu-actions > .disabled a:hover,
.popover.actionMenu .actionMenu-actions > .disabled a:focus {
    color: #999999;
}

.popover.actionMenu .actionMenu-actions > .disabled a:hover,
.popover.actionMenu .actionMenu-actions > .disabled a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-icon {
    position: relative;
    top: -1px;
    width: 20px;
    font-size: 10px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn-icon i {
    padding: 0;
    margin: 0;
}

table.dateTimeTooltip {
}

table.dateTimeTooltip th,
table.dateTimeTooltip td {
    padding: 0;
    line-height: 16px;
}

table.dateTimeTooltip th {
    font-weight: normal;
    padding-right: 5px;
}

table.dateTimeTooltip tr.title th {
    padding-top: 10px;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid #dddddd;
}

table.dateTimeTooltip tr.title:first-of-type th {
    padding-top: 0;
}

table.dateTimeTooltip tr th {
    text-align: right;
}

table.dateTimeTooltip td {
    padding-left: 5px;
}

.btn:active,
.btn.active {
    background-image: none;
}

.btn-default {
    background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%) repeat-x;
    border-color: #ccc;
}

.btn-default:hover,
.btn-default:active,
.btn-default.active {
    background: #e6e6e6 none;
}

.btn-primary {
    background: linear-gradient(to bottom, #428bca 0%, #3071a9 100%) repeat-x;
    border-color: #2d6ca2;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active {
    background: #3276b1 none;
}

.btn-success {
    background: linear-gradient(to bottom, #5cb85c 0%, #47a447 100%) repeat-x;
    border-color: #419641;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active {
    background: #47a447 none;
}

.btn-warning {
    background: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%) repeat-x;
    border-color: #eb9316;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active {
    background: #ec971f none;
}

.btn-danger {
    background: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%) repeat-x;
    border-color: #c12e2a;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active {
    background: #c9302c none;
}


.btn-info {
    background: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%) repeat-x;
    border-color: #2aabd2;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active {
    background: #31b0d5 none;
}

div.bootstrap-select .btn-default,
div.bootstrap-select .btn-default:hover,
div.bootstrap-select .btn-default:focus,
div.bootstrap-select .btn-default:active,
div.bootstrap-select .btn-default.active,
div.bootstrap-select.open .dropdown-toggle.btn-default
{
    background: #ffffff none;
}