#container {
    margin-top: 60px;
    margin-bottom: 20px;
}

#footer .container {
    text-align: center;
}

#header .navbar-inner {
    min-height: 40px;
}

#footer .navbar {
    min-height: 30px;
}

#footer .navbar.navbar-fixed-bottom {
    bottom: -1px;
}

#footer .navbar-inner {
    line-height: 30px;
    font-size: 12px;
}

#footer ul {
    margin: 0;
}

#footer ul li {
    display: inline-block;
    margin: 0 3px;
}

#footer ul li i {
    margin-right: 3px;
}

#header .navbar {
    border-bottom: 1px solid #dddddd;
}

#footer .navbar {
    border-top: 1px solid #dddddd;
}

#header .navbar .navbar-brand {
    padding: 13px 10px 10px 20px;
    color: #333333;
    font-weight: normal;
    font-size: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#navigation {
    position: relative;
    top: 8px;
}

.navbar .nav > li {
    z-index: 10000;
}

#navigation .bootstrap-select {
    width: 230px;
    margin-bottom: 0;
}

#navigation .bootstrap-select .btn,
#navigation .bootstrap-select .btn:focus {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#navigation .bootstrap-select.btn-group.open .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#navigation .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
    right: 10px;
}

#navigation select {
    width: auto;
    font-size: 16px;
}

#navigation .input-group,
#navigation .input-group span {
    display: inline-block;
}

#navigation .input-group {
    margin-right: -15px;
}

#navigation .input-group span {
    position: relative;
    left: -3px;
}

#navigation .input-group-addon {
    padding: 9px 20px 9px 8px
}

#navigation .input-group-addon a {
    text-decoration: none;
}

#navigation-static li.navbar-icon a {
    padding: 15px 7px;
    font-size: 20px;
}

#navigation-static li.navbar-user img {
    position: relative;
    height: 30px;
    top: -12px;
    margin: 0 0 -20px 0;
    padding: 0;
    border-radius: 3px;
}

#navigation-static li.navbar-user span {
    position: relative;
    top: -1px;
    font-size: 18px;
    line-height: 18px;
    margin-left: 3px;
}

ul.dropdown-menu li {
    text-align: left;
}

ul.actionMenu-actions li.actionMenu-header,
ul.dropdown-menu li.dropdown-header,
ul.dropdown-menu li.nav-header {
    padding: 3px 15px;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
}

ul.dropdown-menu > li > a i {
    position: relative;
    left: -5px;
    width: 15px;
    text-align: center;
    display: inline-block;
}

ul.dropdown-menu .divider {
    margin: 5px 0;
}

.dropdown-menu > li > a.text-muted {
    color: #999999;
}

.dropdown-menu > li > a.text-success {
    color: #468847;
}

.dropdown-menu > li > a.text-danger {
    color: #b94a48;
}

.dropdown-menu > li > a.text-muted:hover,
.dropdown-menu > li > a.text-muted:focus,
.dropdown-menu > li > a.text-success:hover,
.dropdown-menu > li > a.text-success:focus,
.dropdown-menu > li > a.text-danger:hover
.dropdown-menu > li > a.text-danger:focus {
    color: #ffffff;
}

#navigation .dropdown-menu:before,
.dropdown-menu.with-tick:before {
    position: absolute;
    top: -7px;
    left: 7px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

#navigation .dropdown-menu:after,
.dropdown-menu.with-tick:after {
    position: absolute;
    top: -6px;
    left: 8px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

#navigation-static .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 12px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

#navigation-static .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 13px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

#navigation-static.navbar-nav > li > .dropdown-menu {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

.container {
    padding-right: 10px;
    padding-left: 10px;
}

ul, ol {
    padding-left: 25px;
}

.dropdown-menu > li > a.text-danger {
    color: #b94a48;
}

.dropdown-menu > li > a.text-danger:hover {
    color: #ffffff;
}

.history {
    margin-bottom: 20px;
}

.history h4 {
    border-bottom: 1px solid #dddddd;
}

.history ul {
    margin-left: 5px;
}

.actionMenu-toggle span {
    padding-left: 6px;
}

.popover.actionMenu {
    z-index: 3000;
    padding: 0;;
}

.popover.actionMenu .popover-content {
    padding: 0;
    position: relative
}

.popover.actionMenu .actionMenu-actions {
    list-style-type: none;
    padding: 6px 0;
    margin: 0;
}

.popover.actionMenu .actionMenu-actions .divider,
.popover.actionMenu .actionMenu-actions .divider:hover {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.popover.actionMenu ul.actionMenu-actions li.actionMenu-header {
    padding: 3px 15px;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
}

.popover.actionMenu ul.actionMenu-actions li.actionMenu-header:hover {
    background-color: transparent;
}

.popover.actionMenu .actionMenu-actions > li {
    padding-left: 20px;
}

.popover.actionMenu .actionMenu-actions > li > a {
    display: block;
    padding: 3px 15px 3px 0;
    clear: both;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.popover.actionMenu .actionMenu-actions > li > a.text-muted {
    color: #999999;
}

.popover.actionMenu .actionMenu-actions > li > a.text-success {
    color: #468847;
}

.popover.actionMenu .actionMenu-actions > li > a.text-danger {
    color: #b94a48;
}

.popover.actionMenu .actionMenu-actions > li > a i {
    position: relative;
    left: -10px;
    width: 15px;
    margin-right: -5px;
    text-align: center;
    display: inline-block;
}

.popover.actionMenu .actionMenu-actions > li:hover,
.popover.actionMenu .actionMenu-actions > li:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
}

.popover.actionMenu .actionMenu-actions > li:hover a,
.popover.actionMenu .actionMenu-actions > li:focus a,
.popover.actionMenu .actionMenu-actions > li a:hover,
.popover.actionMenu .actionMenu-actions > li a:focus {
    color: #ffffff;
    text-decoration: none;
}

.popover.actionMenu .actionMenu-actions > .active a,
.popover.actionMenu .actionMenu-actions > .active a:hover,
.popover.actionMenu .actionMenu-actions > .active a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

.popover.actionMenu .actionMenu-actions > .disabled a,
.popover.actionMenu .actionMenu-actions > .disabled a:hover,
.popover.actionMenu .actionMenu-actions > .disabled a:focus {
    color: #999999;
}

.popover.actionMenu .actionMenu-actions > .disabled a:hover,
.popover.actionMenu .actionMenu-actions > .disabled a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-icon {
    position: relative;
    top: -1px;
    width: 20px;
    font-size: 10px;
    text-align: center;
    color: #666666;
    margin: 0;
    padding: 0;
}

.btn-icon i {
    padding: 0;
    margin: 0;
}