#container {
    margin-top: 50px;
    margin-bottom: 20px;
}

#footer .container-fluid {
    text-align: center;
}

#header .navbar-inner {
    min-height: 40px;
}

#footer .navbar-inner {
    min-height: 30px;
    line-height: 30px;
    font-size: 12px;
}

#footer ul {
    margin: 0;
}

#footer ul li {
    display: inline-block;

    margin: 0 3px;
}

#footer ul li i {
    margin-right: 3px;
}

.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
}

.navbar .brand {
    padding: 8px 15px 10px 25px;
    color: #333333;
    font-weight: normal;
    font-size: 26px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.navbar .nav > li > a {
    padding: 10px 5px;
}

.navbar .nav > li.dropdown > a {
    padding: 10px 15px;
}

.navbar .nav > li select {
    width: auto;
}

.navbar .nav li .navBarSelect {
    margin: 5px 5px 0 0;
}

li .nav-header.text-error {
    color: #b94a48;
}

li .nav-header.text-info {
    color: #3a87ad;
}

li .nav-header {
    padding: 3px 15px;
    font-size: 17px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
}

.nav li + .nav-header {
    margin-top: 0;
}

.input-append .add-on ul a {
    text-shadow: none;
}

li#functionHelp {
    padding-right: 10px;
}

li#functionHelp a {
    padding-right: 0;
    color: #0088cc;
}

li#functionHelp a:hover {
    color: #333333;
}

.input-append .add-on li {
    text-align: left;
}

.dropdown-menu > li > a {
    padding: 3px 20px 3px 10px;
    font-size: 15px;
}

.dropdown-menu > li > a i {
    position: relative;
    float: left;
    top: 2px;
    width: 20px;
    text-align: center;
    margin-right: 5px;
}

.dropdown-menu .divider {
    margin: 2px 0;
}

.dropdown .dropdown-menu .nav-header {
    padding-right: 20px;
    padding-left: 10px;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 5px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 6px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}