.modal-body {
    padding: 15px;
    overflow-y: auto;
}

.modal-body table {
    margin-bottom: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.5;
}

.modal.fade {
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.modal-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px 8px 8px 12px;
}

.modal-header h4 {
    line-height: 28px;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
}

.modal-header .close {
    margin: 0;
    font-size: 60px;
    font-weight: normal;
    line-height: 20px;
}

.modal-footer {
    margin-top: 0;
    padding: 8px;
}

.modalBacklog .modal-dialog {
    width: 800px;
    margin-left: -400px;
}

.modalHelp .modal-dialog {
    width: 800px;
    margin-left: -400px;
}

.modalHelp .modal-body {
    height: 100%;
    min-height: 600px;
    max-height: 600px;
}

.modalBacklog .modal-body {
    height: 100%;
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}

.backlog .col-lg-6:first-of-type {
    padding-right: 0;
}
