.qtip table.info {
    padding: 0;
    margin: 0;
    line-height: 16px;
}

.qtip table.info td ,
.qtip table.info th {
    font-weight: normal;
}

.qtip table.info th {
    text-align: right;
    color: #000;
    padding-right: 5px;
}

.qtip table.info i {
    width: 15px;
    text-align: center;
    margin-right: 3px;
}

.qtip table.info a:hover {
    text-decoration: none;
}
