
.col-lg-3 {
    width: 25%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {
    float: left;
}

.form-horizontal .control-label {
    text-align: right;
}
