body {
    font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-image: url('/images/background-body.png');
    cursor: default;
}

html {
    overflow-y: scroll;
}

*:focus,
a:focus,
.btn:focus {
    outline: none;
}

a.icon:hover,
a.icon:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

i, em {
    margin-right: 2px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    vertical-align: middle;
}

.table th,
.table td {
    font-size: 16px;
    vertical-align: middle;
    padding: 4px;
}

.table th {
    font-size: 18px;
    font-weight: normal;
}

table input[type="text"] {
    margin: 0;
}

.separator {
    position: relative;
    top: 2px;
}

.text-small {
    font-size: 14px;
}

.alert .close {
    right: -10px;
    top: -18px;
    position: relative;
    font-size: 28px;
}

.qtip-bootstrap {
    font-size: 15px;
}

.qtip-bootstrap .qtip-content {
    padding: 5px 10px;
}

.qtip-bootstrap .qtip-content hr {
    margin: 5px 0;
}

.qtip-bootstrap .qtip-titlebar {
    padding: 5px 10px;
    font-size: 18px;
    white-space: normal;
}

.qtip-bootstrap .qtip-content ul.list-unstyled:last-of-type {
    margin-bottom: 0;
}

.tooltipDivContainer {
    display: none;
}

.noty_text {
    font-size: 16px;
    text-shadow: 1px 1px 5px rgba(51, 51, 51, .5);
}
