body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px;
    background-image: url('/images/background-body.png');
    cursor: default;
}

html {
    overflow-y: scroll;
}

*:focus,
a:focus,
.btn:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px 0;
}

.table th,
.table td {
    font-size: 16px;
    vertical-align: middle;
    padding: 4px;
}

table input[type="text"] {
    margin: 0;
}

.separator {
    position: relative;
    top: 2px;
}

.text-small {
    font-size: 14px;
}

.alert .close {
    right: -28px;
}

.qtip-bootstrap .qtip-content {
    padding: 5px 10px;
}

.qtip-bootstrap .qtip-titlebar {
    padding: 5px 10px;
    font-size: 16px;
    white-space: nowrap;
}

.tooltipDivContainer {
    display: none;
}

.noty_text {
    font-size: 16px;
    text-shadow: 1px 1px 5px rgba(51, 51, 51, .5);
}
