body {
    font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-image: url('/images/background-body.png');
    cursor: default;
    overflow-y: scroll;
}

a {
    cursor: pointer;
}

*:focus,
a:focus,
.btn:focus {
    outline: none;
}

a.icon:hover,
a.icon:focus {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px 0;
    text-shadow: 1px 1px 3px rgba(51, 51, 51, .3);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Yanone Kaffeesatz', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
    vertical-align: middle;
}

.table th,
.table td {
    font-size: 16px;
    vertical-align: middle;
    padding: 4px;
}

.table th {
    font-weight: normal;
}

.table thead > tr > th {
    vertical-align: bottom;
    border-bottom: none;
    background-color: #efefef;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(51, 51, 51, .3);
}

.text-shadow,
.nav-tabs > li.active > a {
    text-shadow: 1px 1px 3px rgba(51, 51, 51, .3);
}

.text-no-shadow {
    text-shadow: none;
}

.table .progress {
    margin-bottom: 0;
}

table input[type="text"] {
    margin: 0;
}

.separator {
    position: relative;
    top: 2px;
}

.hidden {
    display: none;
}

small,
.text-small {
    font-size: 80%;
}

.text-medium {
    font-size: 90%;
}

.alert {
    padding: 5px 10px;
    font-size: 14px;
}

.alert .close {
    right: -5px;
    top: -8px;
    position: relative;
    font-size: 28px;
}

.qtip-bootstrap {
    font-size: 15px;
}

.qtip-bootstrap .qtip-content {
    padding: 5px 10px;
}

.qtip-bootstrap .qtip-content hr {
    margin: 5px 0;
}

.qtip-bootstrap .qtip-titlebar {
    padding: 5px 10px;
    font-size: 18px;
    white-space: normal;
}

.qtip-bootstrap .qtip-content ul.list-unstyled:last-of-type {
    margin-bottom: 0;
}

.tooltipDivContainer {
    display: none;
}

.noty_text {
    font-size: 16px;
    text-shadow: 1px 1px 5px rgba(51, 51, 51, .5);
}

.noty_text a {
    color: inherit;
    text-decoration: underline;
}

.noty_text a:hover {
    text-decoration: none;
}

.text-nowrap {
    white-space: nowrap;
}

.cursor-move {
    cursor: move;
}

.cursor-pointer {
    cursor: pointer;
}

.table tr.sortable td {
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    opacity: .8;
}

table.text-medium th {
    font-size: 110%;
    font-weight: normal;
    color: #000000;
}