<form id="formMilestoneNew" class="form-horizontal">
    <input type="hidden" name="projectId" value="<%= projectId %>" />

    <div class="form-group required">
        <label class="col-lg-3 control-label" for="formMilestoneNewTitle">Title</label>
        <div class="col-lg-9">
            <input id="formMilestoneNewTitle" name="title" type="text" class="form-control" placeholder="enter milestone name" required="required" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label" for="formMilestoneNewDescription">Description</label>
        <div class="col-lg-9">
            <textarea id="formMilestoneNewDescription" name="description" class="form-control" data-wysiwyg="true" placeholder="enter project description"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label" for="formMilestoneNewDeadline">Deadline</label>
        <div class="col-lg-9">
            <div class="input-group date deadline">
                <input id="formMilestoneNewDeadline" name="deadline" type="text" class="form-control dateInput" size="16"
                       data-validate-type="date"
                       data-type="project"
                       data-focus="false"
                />
                <span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</form>