<form name="form.projectBasic" class="form-horizontal" novalidate="novalidate">
    <div class="form-group">
        <label class="col-xs-3 control-label">Title</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="enter project title" required="required" name="project.title"
                data-ng-model="project.title"
            />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Duration</label>

        <div class="col-xs-3">
            <p class="input-group">
                <input type="text" class="form-control"
                    data-datepicker-popup
                    data-ng-model="project.dateStart"
                    data-ng-click="openCalendar($event, 'dateStart')"
                    data-is-open="opened.dateStart"
                    data-ng-required="true"
                    data-close-text="Close"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                        data-ng-click="openCalendar($event, 'dateStart')"
                    ><i class="fa fa-calendar"></i></button>
                </span>
            </p>
        </div>

        <div class="col-xs-1 text-center">
            —
        </div>

        <div class="col-xs-3">
            <p class="input-group">
                <input type="text" class="form-control"
                    data-datepicker-popup
                    data-ng-model="project.dateEnd"
                    data-ng-click="openCalendar($event, 'dateEnd')"
                    data-is-open="opened.dateEnd"
                    data-ng-required="true"
                    data-close-text="Close"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                        data-ng-click="openCalendar($event, 'dateEnd')"
                    ><i class="fa fa-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>

</form>