<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <a class="pull-right close"
       data-ng-click="close()"
    >
        <i class="fa fa-times"></i>
    </a>
    <h3>{{project.title}}</h3>
</div>

<div class="modal-body">
    <tabset>
        <tab class="{{tab.class}}"
            data-ng-repeat="tab in tabs"
            data-select="selectTab(tab)"
        >
            <tab-heading>
                <span
                    data-ng-bind-html="tab.title"
                    data-ng-class="{'text-danger': (form[tab.form] && !form[tab.form].$valid && !form[tab.form].$pristine)}"
                ></span>
            </tab-heading>

            <div class="container-fluid">
                <template data-src="{{tab.template}}"></template>
            </div>
        </tab>
    </tabset>
</div>

<div class="modal-footer">
    <button class="btn btn-sm btn-default pull-left" data-ng-click="close()">Close</button>
</div>