<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-pills">
                <li>
                    <a href="<%= packageJson.homepage %>" target="_blank">
                        <i class="fa fa-github"></i>GitHub
                    </a>
                </li>
                <li>
                    <a href="<%= packageJson.bugs.url %>" target="_blank">
                        <i class="fa fa-bug"></i>Issues
                    </a>
                </li>
                <li>
                    <a href="https://github.com/tarlepp/" target="_blank">
                        <i class="fa fa-user"></i><%= packageJson.author %>
                    </a>
                </li>
                <li class="navbar-text navbar-right text-tiny">
                    version <%= packageJson.version %>
                </li>
            </ul>
        </div>
    </div>
</div>