<div class="navbar navbar-fixed-top" data-ng-controller="HeaderController">
    <a class="navbar-brand" href="/">Task<span>board</span></a>

    <tb-template ng-show="currentUser" template="layout/header"></tb-template>
</div>