<ul id="navigation" class="nav navbar-nav" style="display: none;">
    <li>
        <%- partial("navigation_project") %>
    </li>
    <li>
        <%- partial("navigation_sprint") %>
    </li>
</ul>

<ul id="navigation-static" class="nav navbar-nav pull-right">
    <%- partial("navigation_user") %>
</ul>