<div class="input-group" data-bind="visible: project()">
    <select id="selectSprint" class="show-tick show-menu-arrow"
        data-live-search="true"
        data-bind="
            value: selectedSprintId(),
            options: sprints,
            optionsText: 'formattedTitle',
            optionsValue: 'id',
            optionsCaption: 'Choose sprint to show',
            changeSprint: 'id'
        "
    ></select>

    <span class="input-group-addon dropdown">
        <div data-bind="visible: !sprint()">
            <a href="javascript: void(0);" class="tooltipTitle" title="Add new sprint"
                data-placement="bottom"
                data-bind="
                    click: $root.actionSprintAdd,
                    visible: $root.role() < 0
                "
            >
                <i class="fa fa-plus"></i>
            </a>
        </div>

        <div data-bind="visible: sprint()">
            <a href="#" class="dropdown-toggle"
                data-toggle="dropdown"
                data-hover="dropdown"
                data-delay="100"
            >
                <i class="fa fa-wrench"></i>
            </a>

            <ul class="dropdown-menu">
                <li class="nav-header text-info">Basic functions</li>

                <!-- ko if: $root.role() < 0 -->
                <li>
                    <a href="javascript: void(0);"
                        data-placement="bottom"
                        data-bind="click: $root.actionSprintAdd"
                    >
                        <i class="fa fa-plus"></i>
                        Add new sprint
                    </a>
                </li>
                <!-- /ko -->

                <li>
                    <a href="javascript: void(0);"
                        data-bind="click: $root.actionSprintEdit"
                    >
                        <i class="fa fa-wrench"></i>
                        Edit sprint
                    </a>
                </li>

                <li class="divider"></li>

                <li class="nav-header text-info">Management</li>

                <li>
                    <a href="javascript: void(0);"
                        data-bind="click: $root.actionSprintBacklog"
                    >
                        <i class="fa fa-list-ol"></i>
                        Backlog
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);"
                        data-bind="click: $root.actionSprintCharts"
                    >
                        <i class="fa fa-bar-chart-o"></i>
                        Charts
                    </a>
                </li>

                <!-- ko if: $root.role() < 0 -->
                <li class="divider"></li>

                <li class="nav-header text-info">Danger zone</li>

                <li>
                    <a href="javascript: void(0);" class="text-danger"
                        data-bind="click: $root.actionSprintDelete"
                    >
                        <i class="fa fa-trash-o"></i>
                        Delete sprint
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </div>
    </span>
</div>