<header class="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#header-navigation-collapse"
                >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img src="/assets/logo.png" />
                    Task<span>board</span>
                </a>
            </div>

            <div id="header-navigation-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-collapse"
                    data-ng-show="auth.isAuthenticated()"
                >
                    <li class="col-md-2">
                        <template src="layout/navigation/project"></template>
                    </li>

                    <li class="col-md-2">
                        <template src="layout/navigation/sprint"></template>
                    </li>

                    <li class="pull-right">
                        <a href="#" data-ng-click="logout()">Logout</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-collapse"
                    data-ng-show="!auth.isAuthenticated()"
                >
                    <li class="pull-right"
                        data-ui-sref-active="active"
                    >
                        <a href="#" data-ui-sref="anon.login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
