<div>
    <div class="history"
        data-ng-repeat="item in items"
    >
        <h4>
            <small class="pull-right">
                <span>
                    {{item.user.lastName}} {{item.user.firstName}}
                </span>

                <gravatar-image
                    data-gravatar-email="item.user.email"
                    data-gravatar-size="25"
                    data-gravatar-rating="pg"
                    data-gravatar-default="mm"
                    data-gravatar-secure="true"
                ></gravatar-image>
            </small>

            <timestamp data-stamp="{{item.stamp}}"></timestamp>
        </h4>

        <ul class="list-unstyled">
            <li>{{item.message}}</li>
        </ul>
    </div>
</div>
