
<h3>Short story</h3>

<p>
    Application is in <em>development</em> mode. This means that everything can change in an eye blink. Please be patience with me...
</p>

<div class="alert alert-danger alert-block">
    <p>
        This needs a lot's of work and my english is not so good for stuff like this...
    </p>
</div>

<h3>Basics</h3>

<p>
    Some basic functions of the Taskboard...
</p>

<div class="alert alert-info alert-block">
    <p>
        First of all, everything starts from <strong>project</strong>, so <em>select</em> one or <em>create</em> new one.
        In projects we have <strong>sprints</strong>, which you can <em>select</em> or <em>create</em> new.
    </p>
</div>

<div class="alert alert-info alert-block">
    <p>
        Every projects contains <strong>user stories</strong>, which are assigned to <em>sprints</em>. Every user story
        contains 1-n individual <strong>task</strong> which are assigned to one person.
    </p>
</div>

<h3>GUI</h3>

<div class="alert alert-info alert-block">
    <p>
        You can edit <strong>user stories</strong> and <strong>tasks</strong> by <em>double clicking</em> them.
    </p>
</div>

<h3>You have some great ideas?</h3>

<p>
    Feel free to add <em>your</em> idea to backlog of Taskboard project.
</p>