@import "_mixins";

.pagination,
.pagination-lg,
.pagination-sm {
  margin: 0;
  position: relative;
  top: -1px;
  border-radius: 0;
  @include noSelect();
}

.pagination,
.pagination-lg,
.pagination-sm {
  & > li:first-child > a,
  & > li:first-child > span {
    border-top-left-radius: 0;
  }

  & > li:last-child > a,
  & > li:last-child > span {
    border-top-right-radius: 0;
  }
}

.noty_text {
  font-size: 14px;
}

.qtip-bootstrap {
  padding: 0;

  &.qtip-action-menu {
    .qtip-content {
      padding: 0;
    }
  }

  &.json {
    max-width: 450px;

    .qtip-content {
      padding: 0;

      pre {
        font-size: 10px;
      }
    }
  }
}

#prettyjson {
    background-color: #ffffff;
    border: none;
    padding: 0;
    outline: none;
    text-align: left;

    span {
      &.sep {
        display: inline;

        &:after {
          content: '\A';
        }

        &:last-of-type {
          &:before {
            content: '\A';
          }
        }
      }

      &.key {
        padding-left: 10px;
        padding-right: 3px;
      }
    }

}

.modal-body {
  .tab-pane {
    .history {
      h4 {
        border-bottom: 1px solid #dddddd;
        line-height: 20px;
        margin-bottom: 5px;
        padding-left: 5px;

        small {
          span {
            position: relative;
            top: 3px;
            margin-right: 5px;
          }
        }
      }

      .gravatar-icon {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .list-unstyled {
        padding-left: 10px;
      }
    }
  }
}

.timestampTooltip {
  font-size: 13px;
  line-height: 16px;

  th {
    text-align: right;
  }

  td {
    padding-left: 5px;
  }
}
