@import "mixins";

label {
  color: $colorTextDark;
}

.btn {
  &.fa {
    position: relative;
    top: -1px;
    padding: 2px 4px;
    width: 22px;
    text-align: center;
    margin: 0;
  }
}

.help-block {
  margin-bottom: 0;
}

.radio label,
.checkbox label {
  color: #555555;
}

.input-spinner {
  display: none;
  position: relative;
  top: -36px;
  right: 8px;
  font-size: 20px;
  line-height: 36px;
}

.form-horizontal {
  .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;

    &.form-group-editor {
      position: relative;
      top: -5px;
      margin-bottom: 0;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px;

      .checkbox {
        padding-left: 0;
      }
    }
  }

  .form-control {
    &.progress {
      padding: 0;
      margin-bottom: 0;
      height: 36px;

      .progress-bar {
        line-height: 36px;
      }
    }
  }

  .slider-control {
    padding-top: 5px;

    .slider {
      margin-left: 10px;
      margin-right: 10px;
    }

    .badge {
      position: relative;
      top: 1px;
    }
  }
}