@import "mixins";

.modal {
  overflow: hidden;

  .modal-title {
    margin: 0;
  }

  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.modal-open {
  overflow: hidden;
}

.modal-dialog {
  margin: 30px auto 0;

  .data-loading {
    z-index: 5000;
    position: absolute;
    top: 80px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }
}

.modal-header,
.modal-footer {
  @include noSelect();
  border-color: #b9b9b9;
}

.modal-header {
  @include linear-gradient(#c3c3c3, #e1e1e1);
  padding: 8px 8px 8px 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  h3 {
    margin: 0;
    @include text-shadow(0, 0, 1px, rgba(0, 0, 0, .5));
    font-family: $taskBoardFontMaven;
    color: #555555;
    letter-spacing: -2px;
  }

  .fa {
    margin-right: 5px;
    font-size: 28px;
    line-height: 34px;
  }
}

.modal-body {
  @include noSelect();
  padding: 5px 0;
  overflow-x: auto;
  overflow-y: scroll;
  background-image: url("/assets/layout/background-body.png");

  ul.nav {
    @include noSelect();

    & > li > a {
      padding: 5px 10px;
      letter-spacing: -1px;
      color: $colorTextDark;

      .fa {
        margin-right: 3px;
        @include text-shadow(0, 0, 1px, $colorTextShadow);
      }
    }
  }

  .nav-tabs {
    padding: 0 2px 0 5px;

    & > li.active > a,
    & > li.active > a:hover,
    & > li.active > a:focus {

      color: $colorTextDark;
      background-color: transparent;
      background-image: url("/assets/layout/background-body.png");
    }
  }

  .tab-pane {
    margin-top: 10px;

    h4 {
      @include text-shadow(1px, 1px, 5px, rgba(0, 0, 0, .3));
      cursor: default;
      font-weight: bold;
      font-size: 14px;
      color: #446e9b;
      background-color: transparent;
      margin-top: 20px;
      padding: 0 0 5px 0;

      text-transform: uppercase;
    }

    form {
      h4 {
        padding: 2px 10px;
      }
    }

    h4:first-of-type {
      margin-top: 0;
    }
  }

  .row.table-header {
    margin: 0 1px 0 0;

    h4 {
      margin: 0;
      line-height: 25px;
    }

    .input-group {
      top: 1px;
      right: -1px;

      .form-control {
        &:first-child {
          border-bottom-left-radius: 0;
        }
      }

      .input-group-addon {
        padding: 6px;

        &.search {
          cursor: pointer;
        }

        &:last-child {
          border-bottom-right-radius: 0;
        }
      }
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      padding: 0;
    }
  }
}

.modal-footer {
  @include linear-gradient(#e1e1e1, #c3c3c3);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 0;
  padding: 8px;
}