@import "mixins";

.pagination {
  margin: 5px 0 10px 0;
  @include noSelect();
}

.noty_text {
  font-size: 14px;
}

.qtip-bootstrap {
  &.qtip-action-menu {
    .qtip-content {
      padding: 0;
    }
  }

  &.json {
    max-width: 400px;

    .qtip-content {
      padding: 0;

      pre {
        background-color: #ffffff;
        border: none;
        padding: 0;
        outline: none;

        span {
          //display: table-cell;
        }
      }
    }
  }
}

.bootstrap-select {
  font-size: 14px;

  .btn {
    font-size: 14px;
    line-height: 18px;
  }

  &.btn-group {
    .dropdown-menu {
      li > a {
        line-height: 20px;
        font-size: 14px;
      }
    }

    .bootstrap-select-searchbox {
      .form-control {
        border-radius: 4px;
        margin-bottom: 5px;
      }
    }

    &.show-tick {
      li.selected a i.check-mark {
        top: 2px;
      }
    }
  }
}
