@import "mixins";

.noty_text {
  font-size: 14px;
}

.bootstrap-select {
  font-size: 14px;

  .btn {
    font-size: 14px;
    line-height: 18px;
  }

  &.btn-group {
    .dropdown-menu {
      li > a {
        line-height: 20px;
        font-size: 14px;
      }
    }

    .bootstrap-select-searchbox {
      .form-control {
        border-radius: 4px;
        margin-bottom: 5px;
      }
    }

    &.show-tick {
      li.selected a i.check-mark {
        top: 2px;
      }
    }
  }
}
