@import "mixins";

body {
  cursor: default;
  overflow-y: scroll;
  background-image: url("/images/layout/background-body.png");
  font-size: 14px;
  //font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-family: 'PT Sans', sans-serif;
}

a {
  cursor: pointer;
}

*:focus,
a:focus,
.btn:focus {
  outline: none;
}

a.icon:hover,
a.icon:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Maven Pro", sans-serif;
  color: $colorTextShadow;
  letter-spacing: -3px;
  margin: 0 0 10px 0;
}

#container,
#footer,
#header {
  .container {
    width: 100%;
  }
}

.header,
.footer {
  a,
  a:hover,
  a:focus {
    color: $colorTextNavigation;
  }

  .nav {
    &> li,
    &> li a {
      color: $colorTextNavigation;

      &.text-danger {
        color: $colorTextDanger;
      }
    }

    &> li:hover,
    &> li:focus,
    &> li a:hover,
    &> li a:focus {
      color: $colorTextNavigation;
    }

    &> li > a {
      padding: 0 10px;
    }

    &> li > a:hover,
    &> li > a:focus {
      background-color: transparent;
      color: $colorTextLight;
    }

    li {
      font-size: 14px;

      .fa {
        @include text-shadow(0px, 1px, 0px, $colorBoxShadow);
      }

      .input-group {
        .input-group-addon {
          padding: 6px 10px;

          &.disabled {
            opacity: .65;
            cursor: not-allowed;
          }
        }

        .fa {
          top: 1px;
          left: 1px;
          font-size: 14px;
          color: $colorTextLight;
          @include text-shadow(0px, 0px, 2px, $colorTextShadow);
        }
      }
    }
  }
}

.header {
  .navbar {
    @include noSelect();
    @include box-shadow(0, 1px, 20px);
    @include linear-gradient($colorBackgroundGradientStart, $colorBackgroundGradientEnd);
    border-bottom: 1px solid $colorBorder;
  }

  .navbar-brand {
    @include text-shadow(1px, 1px, 3px, $colorBoxShadow);
    font-family: "Maven Pro", sans-serif;
    color: $colorTextLight;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -3px;
    padding: 0 5px 0 10px;
    line-height: 47px;
    margin-right: 10px;

    img {
      position: relative;
      top: -2px;
      width: 45px;
      margin-right: -5px;
    }

    span {
      font-weight: 400;
    }

    &:hover {
      color: $colorTextLight;
    }
  }

  .nav>li {
    display: table;
    line-height: 50px;
  }

  .nav,
  &.nav {
    li.active,
    li.active a {
      color: white;

      &.no-results {
        color: $colorTextDanger;
        padding: 0 10px;
        line-height: 30px;
      }
    }

    &> li,
    &> li a {
      color: $colorTextNavigation;
    }

    &> li:hover,
    &> li:focus,
    &> li a:hover,
    &> li a:focus {
      color: white;

      .dropdown-toggle {
        .fa {
          color: $colorTextLight;
          @include text-shadow(0px, 0px, 2px, $colorTextShadow);
        }
      }

      .gravatar-icon {
        @include box-shadow(0px, 0px, 8px, rgba(255, 255, 255, .9));
      }
    }

    .open>a,
    .open>a:hover,
    .open>a:focus {
      background-color: transparent;
      border-color: transparent;
    }
  }

  .input-group {
    position: relative;
    top: 9px;
    margin-right: 10px;

    .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .bootstrap-select {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
  }

  .gravatar-icon {
    @include box-shadow(0px, 0px, 8px, rgba(255, 255, 255, .6));
    margin-top: -2px;
    margin-right: 10px;
  }

  li .fa {
    position: relative;
    top: 3px;
    font-size: 22px;
  }
}

#footer {
  line-height: 30px;
  font-size: 11px;

  .navbar {
    @include box-shadow(-1px, 0, 20px);
    @include linear-gradient($colorBackgroundGradientEnd, $colorBackgroundGradientStart);
    border-top: 1px solid $colorBorder;
    min-height: 30px;
    max-height: 30px;

    .navbar-text {
      color: $colorTextNavigation;
    }
  }

  .navbar-text {
    margin: 0;
  }

  .container {
    text-align: center;
  }

  .nav {
    li {
      font-size: 11px;
    }
  }

  .nav-pills > li {
    float: none;
    display: inline-block;
  }

  li .fa {
    color: $colorTextNavigation;
    position: relative;
    top: 2px;
    font-size: 16px;
    margin-right: 5px;
  }
}

#container {
  margin-top: 50px;
  margin-bottom: 20px;
}

.text-medium {
  font-size: 90%;
}

.text-small {
  font-size: 80%;
}

.text-tiny {
  font-size: 75%;
}

.text-nowrap {
  white-space: nowrap;
}

.gravatar-icon {
  border-radius: 6px;
}

.nav .dropdown-menu,
.dropdown-menu {
  .divider {
    margin: 5px 0;
  }

  li {
    text-align: left;
    font-size: 12px;

    &.nav-header {
      @include text-shadow(0px, 0px, 0px, $colorBoxShadow);
      padding: 3px 15px;
      font-size: 14px;
      line-height: 18px;
      text-transform: none;
    }
  }

  .fa {
    top: 0;
    width: 18px;
    margin-right: 5px;
    text-align: center;
    font-size: 14px;
    color: $colorTextDark;
    @include text-shadow(0px, 0px, 1px, $colorBoxShadow);
  }

  & > li > a {
    color: $colorBoxShadow;
    padding: 3px 15px;
    line-height: 18px;

    &.text-danger {
      color: $colorTextDanger;

      .fa {
        color: $colorTextDanger;
      }
    }

    &:hover,
    &:focus {
      color: white;
      @include linear-gradient($colorTextLight, $colorTextDark);

      .fa {
        color: white;
      }
    }
  }

  & > .active > a,
  & > .active > a:hover,
  & > .active > a:focus {
    color: white;
    @include linear-gradient($colorTextLight, $colorTextDark);

    .fa {
      color: white;
    }
  }

  &:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  &:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
  }

  &.pull-right:before {
    right: 9px;
    left: auto;
  }

  &.pull-right:after {
    right: 10px;
    left: auto;
  }
}

ul.action-menu {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;

  li {
    &.divider {
      height: 1px;
      overflow: hidden;
      background-color: #e5e5e5;
      margin: 5px 0;
    }
  }

  & > li > a {
    color: $colorBoxShadow;
    padding: 3px 15px 3px 10px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;

    .fa {
      width: 18px;
      margin-right: 5px;
      text-align: center;
      font-size: 14px;
      color: $colorTextDark;
      @include text-shadow(0px, 0px, 1px, $colorBoxShadow);
    }

    &.text-danger {
      color: $colorTextDanger;

      .fa {
        color: $colorTextDanger;
      }
    }

    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
      @include linear-gradient($colorTextLight, $colorTextDark);

      .fa {
        color: white;
      }
    }
  }

  & > .active > a,
  & > .active > a:hover,
  & > .active > a:focus {
    color: white;
    @include linear-gradient($colorTextLight, $colorTextDark);

    .fa {
      color: white;
    }
  }
}

.ng-cloak {
  display: none !important;
}

.table {
  margin-bottom: 0;

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    vertical-align: middle;
  }

  thead {
    background-color: #ebebeb;
    @include noSelect();

    .fa {
      margin-left: 5px;

      &.btn {
        margin-left: 0;
        font-weight: normal;
        color: #666666;
      }
    }

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.loading-fade {
  opacity: .5;
}
