@import "mixins";

body {
  cursor: default;
  overflow-y: scroll;
  background-image: url("/images/layout/background-body.png");
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}

*:focus,
a:focus,
.btn:focus {
  outline: none;
}

a.icon:hover,
a.icon:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
 // @include text-shadow(1px, 1px, 0px, $colorBackgroundGradientEnd);
  font-family: "Maven Pro", sans-serif;
 // color: $colorBackgroundGradientStart;
  color: $colorBackgroundGradientEnd;
  letter-spacing: -3px;
  margin: 0 0 10px 0;
}

#container,
#footer,
#header {
  .container {
    width: 100%;
  }
}

#header,
#footer {
  font-family: "Maven Pro", sans-serif;

  a,
  a:hover,
  a:focus {
    color: $colorTextNavigation;
  }

  .nav {
    &> li,
    &> li a {
      color: $colorTextNavigation;
    }

    &> li:hover,
    &> li:focus,
    &> li a:hover,
    &> li a:focus {
      color: $colorTextNavigation;
    }

    &> li > a {
      padding: 0 10px;
    }

    &> li > a:hover,
    &> li > a:focus {
      background-color: transparent;
      color: $colorTextLight;

    }

    li .fa {
      @include text-shadow(0px, 1px, 0px, $colorBoxShadow);
    }
  }
}

#header {
  .navbar {
    @include noSelect();
    @include box-shadow(0, 1px, 20px);
    @include linear-gradient($colorBackgroundGradientStart, $colorBackgroundGradientEnd);
    border-bottom: 1px solid $colorBorder;
  }

  .navbar-brand {
    @include text-shadow(1px, 1px, 3px, $colorBoxShadow);
    color: $colorTextLight;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -3px;
    padding: 0 15px;
    line-height: 50px;

    span {
      font-weight: 400;
    }

    &:hover {
      color: $colorTextLight;
    }
  }

  .nav>li {
    display: table;
    line-height: 50px;
  }

  #navigation {
    .input-group .form-control {
      width: 250px;
    }
  }

  .nav,
  &.nav {
    li.active,
    li.active a {
      color: white;
    }

    &> li,
    &> li a {
      color: $colorTextNavigation;
    }

    &> li:hover,
    &> li:focus,
    &> li a:hover,
    &> li a:focus {
      color: white;
    }

    .open>a,
    .open>a:hover,
    .open>a:focus {
      background-color: transparent;
      border-color: transparent;
    }

    ul.dropdown-menu {
      a {
        color: $colorBackgroundGradientEnd;
      }

      i.fa {
        font-size: 18px;
        top: 0;
        margin-right: 5px;
        margin-left: -5px;
        color: $colorTextDark;
      }
    }
  }

  .input-group {
    position: relative;
    top: 8px;
    margin-right: 10px;

    .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .bootstrap-select {
    width: 250px;
  }

  li .fa {
    position: relative;
    top: 3px;
    font-size: 22px;
  }
}

#footer {
  line-height: 30px;
  font-size: 12px;

  .navbar {
    @include box-shadow(-1px, 0, 20px);
    @include linear-gradient($colorBackgroundGradientEnd, $colorBackgroundGradientStart);
    border-top: 1px solid $colorBorder;
    min-height: 30px;
    max-height: 30px;

    .navbar-text {
      color: $colorTextNavigation;
    }
  }

  .navbar-text {
    margin: 0;
  }

  .container {
    text-align: center;
  }

  .nav-pills > li {
    float: none;
    display: inline-block;
  }

  li .fa {
    color: $colorTextNavigation;
    position: relative;
    top: 2px;
    font-size: 16px;
    margin-right: 5px;
  }
}

#container {
  margin-top: 50px;
  margin-bottom: 20px;
}

.text-medium {
  font-size: 90%;
}

.text-small {
  font-size: 80%;
}

.text-tiny {
  font-size: 75%;
}

.gravatar-icon {
  border-radius: 6px;
}