@import "mixins";

.modal-dialog {
  width: 950px;
}

.modal-header,
.modal-footer {
  @include noSelect();
}

.modal-body {
  padding: 5px 10px;
  overflow-x: auto;
  overflow-y: scroll;
  background-image: url("/images/layout/background-body.png");

  ul.nav {
    @include noSelect();

    & > li > a {
      padding: 5px 10px;
      letter-spacing: -1px;

      .fa {
        margin-right: 3px;
        color: $colorTextDark;
        @include text-shadow(0, 0, 1px, $colorTextShadow);
      }
    }
  }

  .nav-tabs {
    & > li.active > a,
    & > li.active > a:hover,
    & > li.active > a:focus {
      background-color: transparent;
      background-image: url("/images/layout/background-body.png");
    }
  }

  .tab-pane {
    margin-top: 10px;

    h4 {
      margin-top: 0;
    }
  }
}

.modal-header {
  border-bottom: 1px solid #b9b9b9;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 8px 8px 8px 12px;
  @include linear-gradient(#c3c3c3, #e1e1e1);

  h3 {
    margin: 0;
    @include text-shadow(0, 0, 1px, rgba(0, 0, 0, .5));
    font-family: "Maven Pro", sans-serif;
    color: #555555;
    letter-spacing: -2px;
  }

  .fa {
    margin-right: 5px;
    font-size: 28px;
    line-height: 34px;
  }
}

.modal-footer {
  margin-top: 0;
  padding: 8px;
  border-top: 1px solid #b9b9b9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  @include linear-gradient(#e1e1e1, #c3c3c3);
}

.modal {
  overflow: hidden;
}

.modal-open {
  overflow: scroll;
}