
<div class="input-group">
    <select class="show-tick show-menu-arrow"
        data-live-search="true"
        data-bootstrap-select
        data-collection-name="sprints"
        data-disable-attribute="sharedData.filters.projectId"
        data-ng-disabled="!sharedData.filters.projectId || !sprints.length"
        data-ng-model="sharedData.filters.sprintId"
    >
        <option value="{{sprint.id}}"
            data-ng-repeat="sprint in sprints|orderBy:'dateStart':true"
            data-ng-selected="{{sprint.id == sharedData.filters.sprintId}}"
        >
           {{sprint.dateStart|amDateFormat:currentUser.momentFormatDate}} - {{sprint.dateEnd|amDateFormat:currentUser.momentFormatDate}} {{sprint.title}}
        </option>

        <option style="display:none" value="" class="text-muted">
            {{sprintSelectText()}}
        </option>
    </select>

    <span class="input-group-addon">
        {{sharedData.filters.projectId}}
        -
        {{sharedData.filters.sprintId}}
    </span>
</div>
