
<div class="input-group">
    <select class="show-tick show-menu-arrow"
        data-live-search="true"
        data-bootstrap-select
        data-collection-name="sprints"
        data-disable-attribute="sharedData.filters.projectId"
        data-ng-disabled="!sharedData.filters.projectId || !sprints.length"
        data-ng-model="sharedData.filters.sprintId"
    >
        <option value="{{sprint.id}}"
            data-ng-repeat="sprint in sprints|orderBy:'dateStart':true"
            data-ng-selected="{{sprint.id == sharedData.filters.sprintId}}"
        >
           {{sprint.dateStart|amDateFormat:currentUser.momentFormatDate}} - {{sprint.dateEnd|amDateFormat:currentUser.momentFormatDate}} {{sprint.title}}
        </option>

        <option style="display:none" value="" class="text-muted">
            {{sprintSelectText()}}
        </option>
    </select>

    <span class="input-group-addon dropdown" data-ng-class="{disabled: !sharedData.filters.projectId}">
        <div data-ng-show="!sharedData.filters.projectId">
            <i class="fa fa-wrench"></i>
        </div>

        <div data-ng-show="sharedData.filters.projectId">
            <span data-ng-show="!sprints.length || !sharedData.filters.sprintId">
                <a class="tooltipTitle" title="Add new sprint">
                    <i class="fa fa-plus"></i>
                </a>
            </span>

            <span data-ng-show="sprints.length && sharedData.filters.sprintId">
                <a class="dropdown-toggle"
                    data-dropdown-menu
                    data-toggle="dropdown"
                    data-delay="100"
                >
                    <i class="fa fa-wrench"></i>
                </a>

                <ul class="dropdown-menu">
                    <li class="nav-header text-info">Basic functions</li>

                    <li>
                        <a>
                            <i class="fa fa-plus"></i>
                            Add new sprint
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-wrench"></i>
                            Edit sprint
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="nav-header text-info">Management</li>

                    <li>
                        <a>
                            <i class="fa fa-list-ol"></i>
                            Backlog
                        </a>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-bar-chart-o"></i>
                            Charts
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="nav-header text-info">Danger zone</li>

                    <li>
                        <a class="text-danger">
                            <i class="fa fa-trash-o"></i>
                            Delete sprint
                        </a>
                    </li>
                </ul>
            </span>
        </div>
    </span>
</div>
