
<div class="input-group">
    <select id="projectSelect" class="show-tick show-menu-arrow form-control"
        data-live-search="true"
        data-container="body"
        data-selectpicker
        data-ng-disabled="!(projects.length)"
        data-ng-model="sharedData.projectId"
        data-ng-options="project.id as project.title for project in projects | orderBy:'title'"
    >
        <option style="display:none" value="" class="text-muted">{{projectSelectText}}</option>
    </select>

    <span class="input-group-btn">
        <div data-ng-show="!sharedData.projectId">
            <a class="btn btn-default tooltipTitle" title="Add new project"
                data-ng-click="openProjectAdd()"
            >
                <i class="fa fa-plus"></i>
            </a>
        </div>

        <div class="dropdown"
            data-ng-show="sharedData.projectId"
        >
            <a class="btn btn-default dropdown-toggle"
                data-dropdown-menu
                data-toggle="dropdown"
                data-delay="100"
            >
                <i class="fa fa-wrench"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li class="nav-header text-info">Basic functions</li>
                <li>
                    <a data-ng-click="openProjectAdd()">
                        <i class="fa fa-fw fa-plus"></i>
                        Add new project
                    </a>
                </li>

                <li>
                    <a data-ng-click="modalService.projectEdit(sharedData.projectId)">
                        <i class="fa fa-fw fa-wrench"></i>
                        Edit project
                    </a>
                </li>

                <li class="divider"></li>

                <li class="nav-header text-info">Management</li>

                <li>
                    <a data-ng-click="openProjectBacklog()">
                        <i class="fa fa-fw fa-list-ol"></i>
                        Backlog
                    </a>
                </li>

                <li>
                    <a data-ng-click="openProjectSprints()">
                        <i class="fa fa-fw fa-list-alt"></i>
                        Sprints
                    </a>
                </li>

                <li>
                    <a data-ng-click="openProjectEpics()">
                        <i class="fa fa-fw fa-sitemap"></i>
                        Epics
                    </a>
                </li>

                <li>
                    <a data-ng-click="openProjectMilestones()">
                        <i class="fa fa-fw fa-gear"></i>
                        Milestones
                    </a>
                </li>

                <li>
                    <a data-ng-click="openProjectUsers()">
                        <i class="fa fa-fw fa-user"></i>
                        Users
                    </a>
                </li>

                <li class="divider"></li>

                <li class="nav-header text-info">Advanced</li>

                <li>
                    <a data-ng-click="openProjectPhases()">
                        <i class="fa fa-fw fa-bars fa-rotate-90" style="position: relative; top: 0;"></i>
                        Edit phases
                    </a>
                </li>

                <li>
                    <a data-ng-click="openProjectPlanning()">
                        <i class="fa fa-fw fa-cogs"></i>
                        Planning view
                    </a>
                </li>

                <li>
                    <a data-ng-click="openProjectExternalLinks()">
                        <i class="fa fa-fw fa-globe"></i>
                        External links
                    </a>
                </li>

                <li class="divider"></li>

                <li class="nav-header text-info">Danger zone</li>

                <li>
                    <a class="text-danger"
                        data-ng-click="openProjectDelete()"
                    >
                        <i class="fa fa-fw fa-trash-o"></i>
                        Delete project
                    </a>
                </li>
            </ul>
        </div>
    </span>
</div>