
<div class="input-group">
    <select id="sprintSelect" class="show-tick show-menu-arrow form-control"
        data-live-search="true"
        data-container="body"
        data-selectpicker
        data-ng-disabled="!(sharedData.projectId && sprints.length)"
        data-ng-model="sharedData.sprintId"
        data-ng-options="sprint.id as getSprintTitle(sprint) for sprint in sprints | orderBy:'!dateStart':'!dateEnd':'title'"
    >
        <option style="display:none" value="" class="text-muted">{{sprintSelectText}}</option>
    </select>

    <span class="input-group-btn">
        <div data-ng-show="!sharedData.projectId">
            <a class="btn btn-default dropdown-toggle"
                data-ng-class="{disabled: !(sharedData.projectId && sprints.length)}"
            >
                <i class="fa fa-wrench"></i>
            </a>
        </div>

        <div data-ng-show="sharedData.projectId">
            <span data-ng-show="!sprints.length || !sharedData.sprintId">
                <a class="btn btn-default tooltipTitle" title="Add new sprint"
                    data-ng-click="openSprintAdd()"
                >
                    <i class="fa fa-plus"></i>
                </a>
            </span>

            <div class="dropdown"
                data-ng-show="(sharedData.projectId && sharedData.sprintId)"
            >
                <a class="btn btn-default dropdown-toggle"
                   data-dropdown-menu
                   data-toggle="dropdown"
                   data-delay="100"
                >
                    <i class="fa fa-wrench"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="nav-header text-info">Basic functions</li>

                    <li>
                        <a data-ng-click="openSprintAdd()">
                            <i class="fa fa-fw fa-plus"></i>
                            Add new sprint
                        </a>
                    </li>

                    <li>
                        <a data-ng-click="openSprintEdit()">
                            <i class="fa fa-fw fa-wrench"></i>
                            Edit sprint
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="nav-header text-info">Management</li>

                    <li>
                        <a data-ng-click="openSprintBacklog()">
                            <i class="fa fa-fw fa-list-ol"></i>
                            Backlog
                        </a>
                    </li>

                    <li>
                        <a data-ng-click="openSprintCharts()">
                            <i class="fa fa-fw fa-bar-chart-o"></i>
                            Charts
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li class="nav-header text-info">Danger zone</li>

                    <li>
                        <a class="text-danger"
                            data-ng-click="openSprintDelete()"
                        >
                            <i class="fa fa-fw fa-trash-o"></i>
                            Delete sprint
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </span>
</div>