<script id="task-form-new" type="text/x-handlebars-template">
    <form id="formTaskNew" class="form-horizontal">
        <input type="hidden" name="storyId" value="{{storyId}}" />
        <input type="hidden" name="phaseId" value="{{phaseId}}" />

        <fieldset>
            <div class="control-group">
                <label class="control-label" for="formTaskNewTitle">Title</label>
                <div class="controls">
                    <input id="formTaskNewTitle" name="title" type="text" placeholder="enter task title" class="span3" required="required">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="formTaskNewTypeId">Task type</label>
                <div class="controls">
                    <select id="formTaskNewTypeId" name="typeId" class="span3">
                        <option>Normal</option>
                        <option>Test</option>
                        <option>Bug</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="formTaskNewOwner">Owner</label>
                <div class="controls">
                    <select id="formTaskNewOwner" name="userId" class="span3">
                        <option value="0">-- select --</option>
                        {{#each users}}
                        <option value="{{id}}">{{fullname}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="formTaskNewDescription">Description</label>
                <div class="controls">
                    <textarea id="formTaskNewDescription" name="description" class="span3" placeholder="enter task description"></textarea>
                </div>
            </div>

        </fieldset>
    </form>
</script>
