<script id="help-generic" type="text/x-handlebars-template">
    <p class="text-error">
        This needs a lot's of work and my english is not so good for stuff like this...
    </p>

    <h4>Basics</h4>
    <p>
        First of all, everything starts from <strong>project</strong>, so <em>select</em> one or <em>create</em> new one.
        In projects we have <strong>sprints</strong>, which you can <em>select</em> or <em>create</em> new.
    </p>

    <p>
        Every projects contains <strong>user stories</strong>, which are assigned to <em>sprints</em>. Every user story
        contains 1-n individual <strong>task</strong> which are assigned to one person.
    </p>

    <h4>GUI</h4>
    <p>
       You can edit <strong>user stories</strong> and <strong>tasks</strong> by <em>double clicking</em> them.
    </p>

</script>