<script id="sprint-form-new" type="text/x-handlebars-template">
    <form id="formSprintNew" class="form-horizontal">
        <input type="hidden" name="projectId" value="{{projectId}}" />

        <fieldset>
            <div class="control-group required">
                <label class="control-label" for="formSprintNewTitle">Title</label>
                <div class="controls">
                    <input id="formSprintNewTitle" name="title" type="text" placeholder="enter sprint name" class="span3" required="required" />
                </div>
            </div>
            <div class="control-group required">
                <label class="control-label" for="formSprintNewDateStart">Duration</label>
                <label class="control-label" for="formSprintNewDateEnd" style="display: none;"></label>
                <div class="controls">
                    <div class="input-append date dateStart">
                        <input id="formSprintNewDateStart" name="dateStart" type="text" class="dateInput" size="16" required="required" readonly="readonly"
                            data-validate-type="daterange"
                            data-role="start"
                            data-pair="formSprintNewDateEnd"
                            data-focus="false"
                            data-type="sprint"
                        />
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                    <span class="separator">&mdash;</span>
                    <div class="input-append date dateEnd">
                        <input id="formSprintNewDateEnd" name="dateEnd" type="text" class="dateInput" size="16" required="required" readonly="readonly"
                            data-validate-type="daterange"
                            data-role="end"
                            data-pair="formSprintNewDateStart"
                            data-focus="false"
                            data-type="sprint"
                        />
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="formSprintNewDescription">Description</label>
                <div class="controls">
                    <textarea id="formSprintNewDescription" name="description" class="span3" placeholder="enter sprint description"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</script>
