<div data-bind="if: loading().length">
    <div id="loading" class="panel panel-info">
        <div class="panel-body text-center text-info">
            <i class="fa fa-spinner fa-spin fa-large"></i>&nbsp;&nbsp;&nbsp;Loading data...
        </div>
    </div>
</div>

<div id="warningContent" style="display: none;"
    data-bind="style: {display: $root.noProjectData() === true ? 'block' : 'none' }"
>
    <div class="alert alert-danger">
        <h3>You don't have any projects</h3>
        <p>
            Currently there is no projects where you're project manager or contributor.
            Please <a href="javascript: void(0);" class="alert-link" data-bind="click: $root.actionProjectAdd">add new project</a> to continue.
        </p>
    </div>
</div>


<div id="boardContent" style="display: none;" data-bind="css: loading().length > 0 ? 'loading' : ''">

    <div class="alert alert-danger"
        data-bind="visible: $root.phases().length === 0 && $root.project()"
    >
        <h3>No phases for current project</h3>
        <p>
            Current project does not have any <a href="javascript: void(0);" class="alert-link" data-bind="click: $root.actionPhasesEdit">phases</a>, please add phases to project before anything else.
        </p>
    </div>

    <div class="alert alert-danger"
        data-bind="visible: $root.phases().length > 0 && $root.sprints().length === 0"
    >
        <h3>No sprints in current project</h3>
        <p>
            Current project does not have any <a href="javascript: void(0);" class="alert-link" data-bind="click: $root.actionSprintAdd">sprints</a>, you have to add at least one sprint at this point.
        </p>
    </div>

    <div id="board" data-bind="if: $root.sprint() && $root.phases().length">


        <table id="boardTable" class="table table-bordered">
            <thead>
                <tr id="boardHeader">
                    <th style="width:17%">User stories</th>
                    <th class="addStory"
                        data-bind="
                            visible: sprint() && $root.role() !== 0,
                            qtip: {
                                text: 'Add new story to current sprint.',
                                options: {
                                    position: {
                                        at: 'center right',
                                        my: 'center left'
                                    }
                                }
                            }
                        "
                    >
                        <button data-bind="
                            click: actionStoryAdd.bind($data, $root.project().id(), $root.sprint().id())
                        "><i class="fa fa-plus"></i></button>
                    </th>

                    <!-- ko foreach: $root.sortedPhases -->
                    <th data-bind="style: {width: getColumnWidth(17, $root.phases().length)}">
                        <span data-bind="text: title"></span>
                        <span class="phaseTaskCount"
                            data-bind="
                                css: phaseTaskCountStatus,
                                text: phaseTaskCountText
                            "
                        ></span>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.sortedStories()">

                <tr data-bind="attr: {'id': storyRowId()}">
                    <th style="width:17%">
                        <div class="story alert alert-info taped"
                            data-bind="
                                template: {
                                    name: 'story-template'
                                },
                                qtip: {
                                    title: title(),
                                    text: descriptionTooltip(),
                                    options: {
                                        hide: {
                                            fixed: true,
                                            delay: 100,
                                            event: 'click mouseleave'
                                        },
                                        position: {
                                            at: 'right center',
                                            my: 'left center',
                                            adjust: {
                                                screen: true
                                            },
                                            viewport: jQuery(window)
                                        }
                                    }
                                }
                            "
                        ></div>
                    </th>
                    <td class="addTask"
                        data-qtipopts="{ style: { classes: 'qtip-green' } }"
                        data-bind="
                            visible: $root.role() !== 0,
                            qtip: {
                                text: 'Add new task to story',
                                options: {
                                    position: {
                                        at: 'right center',
                                        my: 'left center',
                                        adjust: {
                                            screen: true
                                        },
                                        viewport: jQuery(window)
                                    }
                                }
                            }
                    ">
                        <button data-bind="
                            click: addNewTask
                        "><i class="fa fa-plus"></i></button>
                    </td>

                    <!-- ko foreach: $root.sortedPhases -->
                    <td class="myClass" data-bind="
                        style: {
                            width: getColumnWidth(17, $root.phases().length)
                        },
                        attr: {
                            'data-phase-id': id(),
                            'data-phase-title': title(),
                            'data-story-id': $parent.id(),
                            'data-story-title': $parent.title()
                        },
                        sortable: {
                            data: $root.getTasks(id(), $parent.id()),
                            template: $root.getTaskTemplate(id(), $parent.id()),
                            beforeMove: $root.taskDraggableBeforeMoveCallback,
                            afterMove: $root.taskDraggableAfterMoveCallback,
                            connectClass: 'myClass',
                            options: {
                                cursor: 'move',
                                start: $root.taskDraggableStartCallback
                            }
                        }
                    ">
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
            <tbody data-bind="if: !$root.sortedStories().length > 0">
                <tr>
                    <td colspan="100%" class="text-center text-muted">
                        <h4>No user stories in this sprint</h4>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <script id="task-template-normal" type="text/html">
        <div class="task sticky taped"
            data-bind="
                attr: {
                    'id': 'task_' + id()
                },
                qtip: {
                    title: title(),
                    text: descriptionTooltip(),
                    options: {
                        hide: {
                            fixed: true,
                            delay: 50,
                            event: 'click mouseleave'
                        },
                        position: {
                            at: 'bottom center',
                            my: 'top center',
                            adjust: {
                                screen: true
                            },
                            viewport: jQuery(window)
                        }
                    }
                },
                css: taskClass()
            ">
            <h3 data-bind="truncatedText: title"></h3>
        </div>
    </script>

    <script id="task-template-small" type="text/html">
        <div class="task sticky taped small"
             data-bind="
                attr: {
                    'id': 'task_' + id()
                },
                qtip: {
                    title: title(),
                    text: descriptionTooltip() ? descriptionTooltip() : '<em>No description...</em>',
                    options: {
                        hide: {
                            fixed: true,
                            delay: 50,
                            event: 'click mouseleave'
                        },
                        position: {
                            at: 'bottom center',
                            my: 'top center',
                            adjust: {
                                screen: true
                            },
                            viewport: jQuery(window)
                        }
                    }
                },
                css: taskClass()
            ">
            <h3 data-bind="html: title"></h3>
        </div>
    </script>

    <script id="story-template" type="text/html">
        <h3 data-bind="html: formattedTitle"></h3>
    </script>

</div>