<div id="boardContent" style="display: none;">

    <div class="alert alert-danger"
        data-bind="visible: $root.phases().length === 0 && $root.project()"
    >
        <h3>No phases for current project</h3>
        <p>
            Current project does not have any <a href="javascript: void(0);" class="alert-link" data-bind="click: $root.phasesEdit">phases</a>, please add phases before anything else.
        </p>
        <p>
            You can setup project phases within <em>project settings menu</em>.
        </p>
    </div>

    <div id="board" data-bind="if: $root.phases().length">
        <table class="table table-bordered">
            <thead>
                <tr id="boardHeader">
                    <th style="width:20%">User stories</th>
                    <td class="addStory"
                        data-bind="
                            visible: sprint(),
                            qtip: {
                                text: 'Add new story to current sprint.',
                                options: {
                                    position: {
                                        at: 'center right',
                                        my: 'center left'
                                    }
                                }
                            }
                        "
                    >
                        <button data-bind="
                            click: addNewStory.bind($data, $root.project().id(), $root.getSprintId())
                        ">+</button>
                    </td>

                    <!-- ko foreach: $root.sortedPhases -->
                    <th data-bind="style: {width: getColumnWidth(20, $root.phases().length)}">
                        <span data-bind="text: title"></span>
                        <span class="phaseTaskCount"
                            data-bind="
                                css: phaseTaskCountStatus,
                                text: phaseTaskCountText
                            "
                        ></span>
                    </th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.sortedStories">

                <tr data-bind="attr: {'id': storyRowId()}">
                    <th>
                        <div class="story alert alert-info taped"
                            data-bind="
                                template: {
                                    name: 'story-template'
                                },
                                qtip: {
                                    title: title(),
                                    text: descriptionTooltip(),
                                    options: {
                                        hide: {
                                            fixed: true,
                                            delay: 150
                                        }
                                    }
                                }
                            "
                        ></div>
                    </th>
                    <td class="addTask"
                        data-qtipopts="{ style: { classes: 'qtip-green' } }"
                        data-bind="
                            qtip: {
                                text: 'Add a new task to story<br />' + title(),
                                options: {
                                    position: {
                                        at: 'center right',
                                        my: 'center left'
                                    }
                                }
                            }
                    ">
                        <button data-bind="
                            click: addNewTask
                        ">+</button>
                    </td>

                    <!-- ko foreach: sortedPhases -->
                    <td class="myClass" data-bind="
                        attr: {
                            'data-phase-id': id(),
                            'data-phase-title': title()
                        },
                        sortable: {
                            template: taskTemplate,
                            data: tasks,
                            afterMove: myDropCallback,
                            connectClass: 'myClass',
                            options: {
                                cursor: 'move'
                            }
                        }
                     ">
                    </td>
                    <!-- /ko -->

                </tr>
            </tbody>
        </table>

    </div>

    <script id="task-template-normal" type="text/html">
        <div class="task sticky taped"
            data-bind="
                attr: {
                    'id': 'task_' + id()
                },
                qtip: {
                    title: title(),
                    text: descriptionTooltip(),
                    options: {
                        position: {
                            at: 'bottom center',
                            my: 'top center'
                        },
                        hide: {
                            fixed: true,
                            delay: 150
                        }
                    }
                },
                css: taskClass()
            ">
            <h3 data-bind="text: title, trunk8: {lines: 1}"></h3>
        </div>
    </script>

    <script id="task-template-small" type="text/html">
        <div class="task sticky taped small"
             data-bind="
                attr: {
                    'id': 'task_' + id()
                },
                qtip: {
                    title: title(),
                    text: descriptionTooltip() ? descriptionTooltip() : '<em>No description...</em>',
                    options: {
                        position: {
                            at: 'bottom center',
                            my: 'top center'
                        }
                    }
                },
                css: taskClass()
            ">
            <h3 data-bind="text: title"></h3>
        </div>
    </script>

    <script id="story-template" type="text/html">
        <h3 data-bind="text: formattedTitle"></h3>

        <!-- ko if: description -->
        <p data-bind="text: description, trunk8: {lines: 2}"></p>
        <!-- /ko -->
    </script>

</div>