<div id="board" data-bind="if: $root.phases().length">
    <table class="table table-bordered">
        <thead>
            <tr id="boardHeader">
                <th style="width:20%">Story</th>
                <td class="addStory">
                    <button data-bind="
                        click: addNewStory.bind($data, $root.project().id(), $root.getSprintId()),
                        tooltip: {
                            title: 'Add a new story to project<br/>' + $root.project().title(),
                            html: true
                        }
                    ">+</button>
                </td>

                <!-- ko foreach: $root.phases -->
                <th data-bind="style: {width: getColumnWidth(20, $root.phases().length)}">
                    <span data-bind="text: title"></span>

                    <span class="phaseTaskCount" data-bind="css: phaseTaskCountStatus">
                        (<span data-bind="text: cntTask"></span>|<span data-bind="text: cntTasksMax"></span>)
                    </span>
                </th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.sortedStories">

            <tr data-bind="attr: {'id': getStoryRowId()}">
                <th>
                    <div class="story taped" data-bind="template: {name: 'story-template'}"></div>
                </th>
                <td class="addTask">
                    <button data-bind="
                        click: addNewTask,
                        tooltip: {
                            title: 'Add a new task to story<br />' + title(),
                            html: true
                        }
                    ">+</button>
                </td>

                <!-- ko foreach: phases -->
                <td class="myClass" data-bind="
                    attr: {
                        'data-phase-id': id(),
                        'data-phase-title': title()
                    },
                    sortable: {
                        template: 'task-template',
                        data: tasks,
                        afterMove: myDropCallback,
                        connectClass: 'myClass'
                    }
                 ">
                </td>
                <!-- /ko -->

            </tr>
        </tbody>
    </table>

</div>

<script id="task-template-test" type="text/html">
    <div class="task sticky taped">
        <h3>aa</h3>
    </div>
</script>

<script id="task-template" type="text/html">
    <div class="task sticky taped" data-bind="attr: {'id': 'task_' + id()}">
        <h3 data-bind="text: title"></h3>

        <!-- ko if: description -->
        <p data-bind="text: description"></p>
        <!-- /ko -->
    </div>
</script>

<script id="story-template" type="text/html">
    <h3 data-bind="text: titleFormatted"></h3>

    <!-- ko if: description -->
    <p data-bind="text: description"></p>
    <!-- /ko -->
</script>

<!-- handlebars templates -->

<script id="task-form-new" type="text/x-handlebars-template">
    <form id="formTaskNew" class="form-horizontal">
        <input type="hidden" name="storyId" value="{{storyId}}" />
        <input type="hidden" name="phaseId" value="{{phaseId}}" />

        <fieldset>
            <div class="control-group">
                <label class="control-label" for="formTaskNewTitle">Title</label>
                <div class="controls">
                    <input id="formTaskNewTitle" name="title" type="text" placeholder="enter task title" class="span3" required="required">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="formTaskNewTypeId">Task type</label>
                <div class="controls">
                    <select id="formTaskNewTypeId" name="typeId" class="span3">
                        <option>Normal</option>
                        <option>Test</option>
                        <option>Bug</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="formTaskNewOwner">Owner</label>
                <div class="controls">
                    <select id="formTaskNewOwner" name="userId" class="span3">
                        <option value="0">-- select --</option>
                        {{#each users}}
                        <option value="{{id}}">{{fullname}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="formTaskNewDescription">Description</label>
                <div class="controls">
                    <textarea id="formTaskNewDescription" name="description" class="span3" placeholder="enter task description"></textarea>
                </div>
            </div>

        </fieldset>
    </form>
</script>

<script id="project-form-new" type="text/x-handlebars-template">
    <form id="formProjectNew" class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="formProjectNewTitle">Project name</label>
                <div class="controls">
                    <input id="formProjectNewTitle" name="title" type="text" placeholder="enter project name" class="span3" required="required" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="formProjectNewProjectManagerId">Project manager</label>
                <div class="controls">
                    <select id="formProjectNewProjectManagerId" name="projectManagerId" class="span3 required">
                        <option value="#">-- select --</option>
                        {{#each users}}
                        <option value="{{id}}">{{fullname}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="formProjectNewDateStart">Duration</label>
                <label class="control-label" for="formProjectNewDateEnd" style="display: none;"></label>
                <div class="controls">
                    <div id="dateStartContainer" class="input-append date">
                        <input id="formProjectNewDateStart" name="dateStart" type="text" class="dateInput" size="16" required="required" readonly="readonly"
                           data-validate-type="daterange"
                           data-role="start"
                           data-pair="formProjectNewDateEnd"
                           data-focus="false"
                        />
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                    <span class="separator">&mdash;</span>
                    <div id="dateEndContainer" class="input-append date">
                        <input id="formProjectNewDateEnd" name="dateEnd" type="text" class="dateInput" size="16" required="required" readonly="readonly"
                           data-validate-type="daterange"
                           data-role="end"
                           data-pair="formProjectNewDateStart"
                           data-focus="false"
                        />
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="formProjectNewDescription">Description</label>
                <div class="controls">
                    <textarea id="formProjectNewDescription" name="description" class="span3" placeholder="enter project description"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</script>


<script id="story-form-new" type="text/x-handlebars-template">
    <form id="formStoryNew" class="form-horizontal">
        <input type="hidden" name="projectId" value="{{projectId}}" />
        <input type="hidden" name="sprintId" value="{{sprintId}}" />

        <fieldset>
            <div class="control-group">
                <label class="control-label" for="formStoryNewTitle">Story name</label>
                <div class="controls">
                    <input id="formStoryNewTitle" name="title" type="text" placeholder="enter story name" class="span3" required="required" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="formStoryNewDescription">Description</label>
                <div class="controls">
                    <textarea id="formStoryNewDescription" name="description" class="span3" placeholder="enter user story description"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="formStoryNewVfCase">ValueFrame case</label>
                <div class="controls">
                    <input id="formStoryNewVfCase" name="vfCase" type="text" placeholder="#case" class="span1" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="formStoryNewEstimate">Estimate</label>
                <div class="controls">
                    <input id="formStoryNewEstimate" name="estimate" type="text" placeholder="estimate" class="span1" required="required" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="formStoryNewPriority">Priority</label>
                <div class="controls">
                    <input id="formStoryNewPriority" name="priority" type="text" placeholder="priority" class="span1" required="required" />
                </div>
            </div>
        </fieldset>
    </form>
</script>